<div class="container padding-top-8">
  <div class="padding-right-8">Column <input ng-model="column" disabled  name="column" value=8 /></div>
  <div class="padding-right-8">Row <input ng-model="row" name="row" disabled value=6 /></div>
</div>
<div class="container padding-top-8" />
<div class="container content">
  <div class="container">
    <div class="container">
      <div ng-repeat="x in getNumber(column) track by $index">
        <div ng-repeat="y in getNumber(row) track by $index">
          <div class="item"
          ng-class="{'selected': input[$parent.$index][$index]}"
          ng-click="toggleCell($parent.$index, $index)">
          </div>
        </div>
      </div>
    </div>
    <div class="clear-button"><input type="button" ng-click="clear(input)" value="clear" /></div>
  </div>

  <div class="container button">
    <input type="button" value="Next Generation" ng-click="nextGeneration(input, column, row)" />
  </div>

  <div class="container">
    <div class="container">
      <div ng-repeat="x in getNumber(column) track by $index">
        <div ng-repeat="y in getNumber(row) track by $index">
          <div class="item" ng-class="{'selected': output[$parent.$index][$index]}">
          </div>
        </div>
      </div>
    </div>
    <div class="clear-button"><input type="button" ng-click="clear(input)" value="clear" /></div>
  </div>
</div>
